
.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.service {
  background: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--transition);
}

.service:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.service__head {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}

.service__list {
  padding: 2rem;
}

.service__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.service__list-icon {
  color: var(--color-primary);
  margin-top: 2px;
}

.service__list p {
  font-size: 0.9rem;
}

/*############# MEDIA QUERIES (MEDIUM DEVICES) ########### */
@media  screen and (max-width: 1024px) {
  .services__container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
  }

  .service {
      height: auto;
  }
}

/*############# MEDIA QUERIES (SMALL DEVICES) ########### */
@media  screen and (max-width: 600px) {
  .services__container {
      grid-template-columns: 1fr;
      gap: 1.5rem;
  }
}
/*.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 2rem;
  padding: 0 3rem;
}
.services h5 {
  font-size: 0.95rem;
  margin-bottom: 0;
}

/*
change all this color craze, find ya better color pallete and use it for the website, dark based colors tho
*/
/*
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--color-bg-variant);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.1rem solid var(--color-bg);
  transition: var(--transition);
}
.services-box h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.services-container .services-box:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
  cursor: default;
}

.services-box i {
  font-size: 7rem;
  color: var(--color-primary-variant);
}

.services-box h3 {
  font-size: 2rem;
}

.services-box p {
  font-size: 1rem;
  margin: 1rem 0 3rem;
}
*/