.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 2rem;
  padding: 0 3rem;
}
.services h5 {
  font-size: 0.95rem;
  margin-bottom: 0;
}

/*
change all this color craze, find ya better color pallete and use it for the website, dark based colors tho
*/

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--color-bg-variant);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.1rem solid var(--color-bg);
  transition: var(--transition);
}
.services-box h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.services-container .services-box:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
  cursor: default;
}

.services-box i {
  font-size: 7rem;
  color: var(--color-primary-variant);
}

.services-box h3 {
  font-size: 2rem;
}

.services-box p {
  font-size: 1rem;
  margin: 1rem 0 3rem;
}
