@import url("https://googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

#portfolio {
  width: 80%;
  margin: 0 10%;
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.writeup {
  font-size: 1rem;
}
/*this is me trying to make the imagese in the portfolio container squared*/
.portfolio-container img {
  width: 200px;
  height: 310px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.8rem;
  padding: 0 1rem;
}

.portfolio h5 {
  font-size: 0.95rem;
  margin-bottom: 0;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--color-bg);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(43, 43, 43, 0.726), rgb(0, 0, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.section-head {
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: var(--color-primary);
  font-size: 1.8rem;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 2.2rem;
  color: var(--color-primary);
}

.portfolio-layer p {
  font-size: 1rem;
  margin: 0.3rem 0 0 0;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background: var(--text-color);
  border-radius: 50%;
  margin-bottom: 0;
  padding: 0;
}

.see-more {
  color: var(--color-primary);
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: block;
}
.see-more:hover {
  color: var(--primary-variant);
  transition: 0.2s ease-in-out;
}
